:root {
  background-color: 1, 1, 1;
  --text-theme-primary-color: 89, 93, 98;
  --text-theme-primary-color-100: 244, 244, 245;
  --text-theme-primary-color-200: 226, 227, 229;
  --text-theme-primary-color-300: 190, 192, 194;
  --text-theme-primary-color-400: 146, 154, 158;
  --text-theme-primary-color-500: 89, 93, 98;
  --text-theme-primary-color-600: 67, 72, 76;
  --text-theme-primary-color-700: 53, 59, 64;
  --text-theme-primary-color-800: 35, 40, 44;
  --text-theme-primary-color-900: 20, 24, 27;
  --text-secondary: 190, 192, 194;
  /* Base colors */
  --blue-light: 75, 205, 214; /* #75CDD6 */
  --blue-dark: 48, 89, 172; /* #3059AC */
  --sky-light: 208, 251, 255; /* #D0FBFF */
  --sky-dark: 119, 139, 255; /* #778BFF */
  --text-light: 117, 205, 214; /* #75CDD6 */
  --text-dark: 0, 140, 255; /* #008CFF */
  --gray-light: 49, 53, 57; /* #313539 */
  --gray-dark: 31, 34, 38; /* #1F2226 */
  --button-primary-color: 28, 153, 255;
  --text-darkgray:60, 60, 60;   /*#3c3c3c*/
  --text-blueishgray:75, 90, 125; /*#4b5a7d*/
  --text-darkblue:30, 50, 80; /*#1e3250*/
  --text-white:254,254,254; /*#FEFEFE*/
  --text-neutral:212,222,210; /*D4DED2*/
  --text-orange:225,196,152; /*#E1C498*/
  --text-emerald:214,240,238;/*#D6F0EE*/
  --text-cyan:130,240,255; /*#82F0FF*/

  /* Gradient backgrounds */
  --gradient-blue: linear-gradient(
    to bottom,
    rgb(var(--blue-light)),
    rgb(var(--blue-dark))
  );
  --gradient-light-blue: linear-gradient(
    to bottom,
    rgb(var(--sky-light)),
    rgb(var(--sky-dark))
  );
  --gradient-text: linear-gradient(
    to right,
    rgb(var(--text-light)),
    rgb(var(--text-dark))
  );
  --gradient-gray: linear-gradient(
    to bottom,
    rgb(var(--gray-light)),
    rgb(var(--gray-dark))
  );
  --gradient-title-au: linear-gradient(to right, rgb(var(--text-darkgray)), rgb(var(--text-blueishgray)), rgb(var(--text-darkblue)));
  --gradient-title-cu: linear-gradient(to right, rgb(var(--text-neutral)), rgb(var(--text-orange)), rgb(var(--text-emerald)));
  --gradient-title-ju: linear-gradient(to right, rgb(var(--text-white)), rgb(var(--text-cyan)), rgb(var(--text-emerald)));


  /* Button component variable for background and border gradient  */
  --bg-blue-dark: 0, 121, 221;
  --bg-blue-light: 59, 179, 255;
  --bg-sky-blue: 118, 219, 255;
  --bg-light-blue:0, 139, 255;
  --bg-light-sky-blue:153, 202, 233;
  --bg-dark-sky-blue:53, 160, 252;
  --bg-tertiary-blue:0, 118, 216 ;
  --bg-tertiary-light-blue:33, 149, 252;
  --bg-tertiary-sky:202, 241, 255;
  --bg-gray-dark: 156, 164, 169;
  --bg-gray-light:62, 65, 67;
}


/* Target scrollbars inside prose code blocks */
.prose pre::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

.prose pre::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind gray-800 */
  border-radius: 4px;
}

.prose pre::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tailwind gray-600 */
  border-radius: 4px;
}

.prose pre::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* Tailwind gray-500 */
}

/* For Firefox */
.prose pre {
  scrollbar-width: thin;
  scrollbar-color: #6b6b6c #1f2937;
}
