---
import Layout from "@/layouts/Layout.astro";
import CustomButton from "@/components/core/CustomButton.vue";
---

<Layout>
  <div class="flex flex-col items-center justify-center py-10 text-center">
    <img src="/img/icon/not-found.svg" alt="404 Not Found" class="w-1/4" />
    <CustomButton variant="primary" size="small" buttonLink="/">
      Back to Home
    </CustomButton>
  </div>
</Layout>
