---
import Layout from "@/layouts/Layout.astro";
import CustomButton from "@/components/core/CustomButton.vue";
const sectionClass = "!min-h-0 !p-0 !mt-10";
---

<Layout class={sectionClass}>
  <div class="flex flex-col items-center justify-center py-10 text-center">
    <img src="/img/not-found.svg" alt="404 Not Found" class="w-1/4 mb-6" />
    <CustomButton variant="primary" size="small" buttonLink="/">
      Back to Home
    </CustomButton>
  </div>
</Layout>
