---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <Welcome /> -->
  <button class="border-4 border-gradient-blue text-black px-4 py-2 rounded-lg">
    Hello
  </button>
  <button
    class="hover:border-gradient-light-blue bg-gray-dark text-black px-4 py-2 rounded-lg"
  >
    Get Demo
  </button> 
  <!-- <button class="border-4 border-gradient-blue text-black px-4 py-2 rounded-lg">
    Hello
  </button>
  <button
    class="hover:border-gradient-light-blue bg-gray-dark text-white px-4 py-2 rounded-lg"
  >
    Get Demo
  </button> -->
	<h1 class="text-black">Hello wordl</h1>
</Layout>
