---
import CustomButton from '../components/core/CustomButton.vue';
import CustomSeprater from '../components/core/CustomSeprater.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<CustomButton variant="primary" class='my-1'>
		Get Demo primary
	</CustomButton>
	<CustomButton variant="secondary" class='my-1'>
		Get Demo secondary
	</CustomButton>
	<CustomButton variant="tertiary" class='my-1'>
		Get Demo tertiary
	</CustomButton>
	<CustomSeprater/>
  <button class="border-4 border-gradient-blue text-black px-4 py-2 rounded-lg">
    Hello
  </button>
  <button
    class="hover:border-gradient-light-blue bg-gray-dark text-black px-4 py-2 rounded-lg"
  >
    Get Demo
  </button> 
</Layout>
