---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Welcome />
  <button class="border-4 border-gradient-blue text-black px-4 py-2 rounded-lg">
    Hello
  </button>
  <button
    class="hover:border-gradient-light-blue bg-gray-dark text-black px-4 py-2 rounded-lg"
  >
    Get Demo
  </button> 
  <!-- <button class="border-4 border-gradient-blue text-black px-4 py-2 rounded-lg">
    Hello
  </button>
  <button
    class="hover:border-gradient-light-blue bg-gray-dark text-white px-4 py-2 rounded-lg"
  >
    Get Demo
  </button> -->
	<h1 class="text-black">Hello wordl</h1>
</Layout>
