---
import CustomButton from '../components/core/CustomButton.vue';
import CustomRoundShape from '../components/core/CustomRoundShape.vue';
import CustomSection from '../components/core/CustomSection.vue';
import CustomSeprater from '../components/core/CustomSeprater.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<!-- <CustomButton variant="primary" class='my-1'>
		Get Demo primary
	</CustomButton>
	<CustomButton variant="secondary" class='my-1'>
		Get Demo secondary
	</CustomButton>
	<CustomButton variant="tertiary" class='my-1'>
		Get Demo tertiary
	</CustomButton>
	<CustomSeprater/> -->
	<CustomSection>
		<button class="border-4 border-gradient-blue text-black rounded-lg">
			Hello
		</button>		
	</CustomSection>
	<CustomSection>
		<CustomRoundShape imgSrc='/src/assets/background.svg' containerSize='100px' iconSize="200px" borderColor='skyblue'></CustomRoundShape>
	</CustomSection>
	<CustomSeprater/>
</Layout>
