---
import Layout from "../../layouts/Layout.astro";
import fetchApi from "../../utils/strapi";
import ComponentCollectionMapper from "../../components/ComponentCollectionMapper.vue";
import { getCaseStudies } from "@/utils/api/blogs";
import GetDemoHeroSection from "@/components/heroSections/GetDemoHeroSection.vue";

const PageData = await fetchApi({
  endpoint: "api/key-features-page",
  query: { pLevel: "4", status: "draft" },
});
const loadcaseStudyData = await getCaseStudies();
const metaObj = PageData?.data?.seo;
---

<Layout metaObj={metaObj}>
  <GetDemoHeroSection
    title="Key Features"
    description="Transform your observability strategy with OpenObserve's comprehensive features, designed for modern, scalable deployments."
    />
  <!-- <div
    class="place-items-center py-16 bg-[url('/background/key-feature-bg.svg')] bg-cover bg-center bg-no-repeat"
  >
    <h1
      class="text-white text-md font-bold md:text-3xl mt-4 max-w-3xl text-center"
    >
      Key Features
    </h1>
    <p class="text-white text-base font-medium md:text-lg xl:text-xl mt-4">
      Transform your observability strategy with OpenObserve's comprehensive
      features, designed for modern, scalable deployments.
    </p>
  </div> -->
  <ComponentCollectionMapper
    data={PageData?.data?.body}
    caseStudyData={loadcaseStudyData}
    client:load
  />
</Layout>
