---
import Layout from "../../layouts/Layout.astro";
import fetchApi from "../../utils/strapi";
import ComponentCollectionMapper from "../../components/ComponentCollectionMapper.vue";
import { getCaseStudies } from "@/utils/api/blogs";
import GetDemoHeroSection from "@/components/heroSections/GetDemoHeroSection.vue";

const PageData = await fetchApi({
  endpoint: "api/key-features-page",
  query: { pLevel: "4", status: "draft" },
});
const loadcaseStudyData = await getCaseStudies();
const metaObj = PageData?.data?.seo;
---

<Layout metaObj={metaObj}>
  <!-- <GetDemoHeroSection
    title="Observability in Your Hands: Analyze, Transform, and Streamline Your Telemetry Data"
    description="A first-class single pane experience with end-to-end telemetry management to control your observability data and its costs."
  /> -->
  <div class="place-items-center py-16 bg-[url('/background/key-feature-bg.svg')] bg-cover bg-center bg-no-repeat">
    <h1 class="text-white text-md font-bold md:text-3xl mt-4 max-w-3xl text-center">
      Observability in Your Hands: Analyze, Transform, and Streamline Your Telemetry Data
    </h1>
    <p class="text-white text-base font-medium md:text-lg xl:text-xl mt-4">
      A first-class single pane experience with end-to-end telemetry management to control your observability data and its costs.
    </p>
  </div>
  <ComponentCollectionMapper
    data={PageData?.data?.body}
    caseStudyData={loadcaseStudyData}
    client:load
  />
</Layout>
