---
import Heading from "./core/Heading.vue";
---

<div>
  <Heading
    title="Full stack observability platform"
    description="Explore the transformative functionalities of OpenObserve and experience a new level of data observation."
    align="CENTER"
  />
</div>
