---
import LeftSideCard from "./cards/LeftSideCard.vue";
import RightSideCard from "./cards/RightSideCard.vue";

const cards = [
  {
    image: "/blogColor-1.png",
    title: "Case Study 1",
    description:
      "Company A: Reducing MTTR by 40%. Learn how Company A leveraged OpenObserver's real-time alerts...",
    btnTitle: "LEARN MORE",
    link: "#",
  },
  {
    image: "/blogColor-2.png",
    title: "Scaling Observability for Growth",
    description:
      "Discover how Company B scaled its observability infrastructure while reducing costs by 30%.",
    btnTitle: "LEARN MORE",
    link: "#",
  },
  {
    image: "/blogColor-3.png",
    title: "Enhancing Security Monitoring",
    description:
      "See how Company C centralized its security logs and improved threat detection with OpenObserve.",
    btnTitle: "LEARN MORE",
    link: "#",
  },
];
---

<div class="bg-slate-400 min-h-screen">
  <!-- <Footer footerData={footerData} client:load /> -->
  <div
    class="flex flex-row gap-3 justify-center container mx-auto pt-3 h-full w-full"
  >
    {
      cards.length > 0 && (
        <div class="">
          <LeftSideCard card={cards[0]} />
        </div>
      )
    }

    {
      cards.length > 0 && (
        <div class="">
          <RightSideCard cards={cards.slice(1)} />
        </div>
      )
    }
  </div>

  <div class="bg-gray-950 container mx-auto"></div>
</div>
