---
import Layout from "@/layouts/Layout.astro";
import fetchApi from "@/utils/strapi";
import { marked } from "marked";

const data = await fetchApi({
  endpoint: "api/terms-of-service-page",
  query: { pLevel: "4", status: "draft" },
});

const htmlContent = marked(data?.data?.content);
const metaObj = {
  title:
    "Terms Of Service | Open Source Observability Platform for Logs, Metrics, Traces, and More – Your Ultimate Dashboard for Alerts and Insights",
  description:
    "Terms of Service for OpenObserve learn about your rights and responsibilities."
};
---

<Layout metaObj={metaObj}>
  <div class="flex flex-col justify-center items-center py-8">
    <h1 class="text-4xl md:text-4xl lg:text-5xl font-bold text-white">
      {data?.data?.title}
    </h1>
    <div class="flex justify-center container mx-auto w-full px-10 pt-5">
      <div
        set:html={htmlContent}
        class="prose prose-sm prose-invert text-white text-xs leading-relaxed max-w-none"
      />
    </div>
  </div>
</Layout>
