---
import Header from "../components/header/Header.vue";
import Footer from "../components/footerComponent/Footer.vue";
const footerData = {
  sections: [
    {
      title: "Platform",
      items: [
        { name: "Logs", link: "/logs" },
        { name: "Metrics", link: "/metrics" },
        { name: "Traces", link: "/traces" },
        { name: "Frontend Monitoring", link: "/frontend-monitoring" },
        { name: "Pipelines", link: "/pipelines" },
        { name: "Alerting", link: "/alerting" },
        { name: "Visualizations & Dashboard", link: "/visualizations" },
      ],
    },
    {
      title: "Solutions",
      items: [
        { name: "Azure Monitoring", link: "/azure-monitoring" },
        { name: "AWS Monitoring", link: "/aws-monitoring" },
        { name: "GCP Monitoring", link: "/gcp-monitoring" },
        { name: "Kubernetes Observability", link: "/kubernetes" },
        { name: "Infrastructure Monitoring", link: "/infrastructure" },
        { name: "Security & Audit Logs", link: "/security" },
        { name: "Cost Optimization", link: "/cost" },
        { name: "Sandbox", link: "/sandbox" },
      ],
    },
    {
      title: "Company",
      items: [
        { name: "About", link: "/about" },
        { name: "Careers", link: "/careers" },
        { name: "Contact Us", link: "/contact" },
      ],
    },
    {
      title: "Community",
      items: [
        { name: "Slack", link: "/slack" },
        { name: "Github", link: "/github" },
        { name: "Twitter", link: "/twitter" },
        { name: "LinkedIn", link: "/linkedin" },
        { name: "YouTube", link: "/youtube" },
      ],
    },
    {
      title: "Resources",
      items: [
        { name: "Documentation", link: "/docs" },
        { name: "Learning", link: "/learning" },
        { name: "Blog", link: "/blog" },
        { name: "Case Study", link: "/case-study" },
        { name: "Support", link: "/support" },
      ],
    },
  ],

  copyright: {
    text: "OpenObserve Inc. © 2024",
    link: "#",
  },
  tos: {
    text: "Terms Of Service",
    link: "#",
  },
  pp: {
    text: "Privacy Policy",
    link: "#",
  },
  githubStats: [
    { icon: "/git.svg", label: "Star", count: "13,483", link: "#" },
    { icon: "/git.svg", label: "Fork", count: "492", link: "#" },
  ],
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/src/styles/global.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header client:only />
    <main class="navbarheight">
      <div>
        <slot />
      </div>
    </main>
    <Footer footerData={footerData} client:load />
  </body>
</html>

<style>
  html,
  body {
    background: #010101;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
  }

  /* .navbarheight {
    height: calc(100vh - 100px);
  } */
</style>
